<%- include("partials/header.ejs") %>
    </head>

    <body>
        <%- include("partials/navbar.ejs") %>
            <div class="container">
                <div class="subcontainer">
                    <div class="d-flex align-items-start">
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <% for (let i=0; i < pills.length; i++) { %>
                                <button class="nav-link <% if (i== 0 ){ %>
                                 <%=" active"%>
                                    <% } %>"
                                        id="v-pills-<%= pills[i].id%>-tab" data-bs-toggle="pill"
                                            data-bs-target="#v-pills-<%= pills[i].id%>" type="button" role="tab"
                                                aria-controls="v-pills-<%= pills[i].id%>" aria-selected= <% if(i==0){ %>
                                                        <%= "true" %>
                                                            <% } else {%>
                                                                <%= "false" %>
                                                                    <% } %>
                                                                        >
                                                                        <%= pills[i].pill%>
                                </button>
                                <% } %>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
                                aria-labelledby="v-pills-1-tab" tabindex="0">
                                <h3 class="display-6 fw-bold">My Ip Address</h3>
                                <p class="lead">Your IP address is a unique identifier assigned to your device when you
                                    connect to
                                    the internet. It helps websites recognize your device and can provide details like
                                    your general location and ISP.</p>
                                <form onsubmit="getIp(event)">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">IP</span>
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingInputGroup1"
                                                placeholder="Ip Address" name="ip" readonly>
                                            <label for="floatingInputGroup1">Ip Address</label>
                                        </div>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <input type="submit" id="ipBtn" class="btn btn-primary btn-lg"
                                            value="Get My Ip">
                                    </div>

                                </form>
                            </div>
                            <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab"
                                tabindex="0">
                                <h3 class="display-6 fw-bold">Ip Address Location</h3>
                                <p class="lead">An IP address location refers to the geographic area where an IP address
                                    is registered or assigned. This can include country, city, or even a specific
                                    region. While not always precise, location data is often used for various purposes,
                                    including content localization, security, and targeted advertising.</p>
                                <form onsubmit="getLocation(event)">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">IP</span>
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingInputGroup1"
                                                placeholder="Ip Address" name="userIp">
                                            <label for="floatingInputGroup1">Ip Address</label>
                                        </div>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <input type="submit" id="ipBtn" class="btn btn-primary btn-lg"
                                            value="Get My Ip Location">
                                    </div>
                                    <div class="input-group textarea">
                                        <div class="form-control" aria-label="With textarea" rows="7" cols="100%">
                                            <p> Ip Address: <span id="ipAddress"> </span> </p>
                                            <p>City: <span id="userCity"> </span></p>
                                            <p>Region: <span id="userRegion"></span></p>
                                            <p>Country: <span id="userCountry"></span></p>
                                            <p>Longitude : <span id="userLongitutde"></span></p>
                                            <p> Latitude: <span id="userLatitude"></span></p>
                                            <p>Time Zone: <span id="userTimeZone"></span></p>
                                            <p>Country Code: <span id="userCountryCode"></span></p>
                                            <p>Network Provider: <span id="userNetworkProvider"></span></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab"
                                tabindex="0">
                                <h3 class="display-6 fw-bold">Reverse DNS Lookup</h3>
                                <p class="lead">Reverse DNS lookup is the process of determining the domain name
                                    associated with an IP address. Unlike regular DNS lookup, which resolves domain
                                    names to IPs, reverse DNS queries map IP addresses to their respective domain names.
                                </p>
                                <form onsubmit="reverseIp(event)">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">IP</span>
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingInputGroup1"
                                                placeholder="Ip Address" name="userIpInputed">
                                            <label for="floatingInputGroup1">Ip Address</label>
                                        </div>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <input type="submit" id="userIpInputed" class="btn btn-primary btn-lg"
                                            value="Reverse Ip Lookup">
                                    </div>
                                    <div class="input-group mb-3 mt-2 recivedDomainName">
                                        <span class="input-group-text">Domain</span>
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="recivedDomainName"
                                                placeholder="Domain Name" readonly>
                                            <label for="recivedDomainName">Domain Name</label>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab"
                                tabindex="0">
                                <h3 class="display-6 fw-bold">DNS Lookup</h3>
                                <p class="lead">DNS lookup is the process of querying a Domain Name System (DNS) server
                                    to translate a domain name into its corresponding IP address.
                                    This enables browsers and other applications to locate and connect to websites and
                                    services over the internet, ensuring seamless online communication.</p>

                                <form onsubmit="domainQuery(event)">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Domain</span>
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingInputGroup1"
                                                placeholder="Domain Name" name="userDomainInputed">
                                            <label for="floatingInputGroup1">Domain Name</label>
                                        </div>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <input type="submit" id="userDomainInputed" class="btn btn-primary btn-lg"
                                            value="Domain Lookup">
                                    </div>
                                    <div class="input-group mb-3 mt-2 recivedIpAddress">
                                        <span class="input-group-text">IP</span>
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="recivedIpAddress"
                                                placeholder="Domain Name" readonly>
                                            <label for="recivedIpAddress">Ip Address</label>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-5-tab"
                                tabindex="0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti animi
                                tempore iure repellendus perferendis non reiciendis rem porro, voluptatibus architecto
                                aspernatur rerum excepturi perspiciatis, aliquam sapiente sunt eos assumenda eius
                                laboriosam vitae eaque molestiae? Laboriosam beatae accusamus nostrum ipsa error tenetur
                                alias ut, cum consequuntur, soluta autem! Dolor, exercitationem est.</div>
                        </div>

                    </div>
                </div>
            </div>
            <%- include("partials/footer.ejs") %>