<%- include("partials/header.ejs") %>
    </head>

    <body>
        <%- include("partials/navbar.ejs") %>
            <div class="container">
                <div class="subcontainer">
                    <div class="d-flex align-items-start">
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <% for (let i=0; i < pills.length; i++) { %>
                                <button class="nav-link <% if (i== 0 ){ %>
                                 <%=" active"%>
                                    <% } %>"
                                        id="v-pills-<%= pills[i].id%>-tab" data-bs-toggle="pill"
                                            data-bs-target="#v-pills-<%= pills[i].id%>" type="button" role="tab"
                                                aria-controls="v-pills-<%= pills[i].id%>" aria-selected= <% if(i==0){ %>
                                                        <%= "true" %>
                                                            <% } else {%>
                                                                <%= "false" %>
                                                                    <% } %>
                                                                        >
                                                                        <%= pills[i].pill%>
                                </button>
                                <% } %>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
                                aria-labelledby="v-pills-1-tab" tabindex="0">
                                <h3 class="display-6 fw-bold">My Ip Address</h3>
                                <p class="lead">Your IP address is a unique identifier assigned to your device when you
                                    connect to
                                    the internet. It helps websites recognize your device and can provide details like
                                    your general location and ISP.</p>
                                <form onsubmit="getIp(event)">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">IP</span>
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingInputGroup1"
                                                placeholder="Ip Address" name="ip" readonly>
                                            <label for="floatingInputGroup1">Ip Address</label>
                                        </div>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <input type="submit" id="ipBtn" class="btn btn-primary btn-lg"
                                            value="Get My Ip">
                                    </div>

                                </form>
                            </div>
                            <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab"
                                tabindex="0">
                                <h3 class="display-6 fw-bold">Ip Address Location</h3>
                                <p class="lead">An IP address location refers to the geographic area where an IP address
                                    is registered or assigned. This can include country, city, or even a specific
                                    region. While not always precise, location data is often used for various purposes,
                                    including content localization, security, and targeted advertising.</p>
                                <form onsubmit="getLocation(event)">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">IP</span>
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingInputGroup1"
                                                placeholder="Ip Address" name="userIp">
                                            <label for="floatingInputGroup1">Ip Address</label>
                                        </div>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <input type="submit" id="ipBtn" class="btn btn-primary btn-lg"
                                            value="Get My Ip Location">
                                    </div>
                                    <div class="input-group textarea">
                                        <span class="input-group-text">Ip Location</span>
                                        <div class="form-control" aria-label="With textarea" rows="7" cols="100%">
                                            <p> Ip Address: <span id="ipAddress"> </span> </p>
                                            <p>City: <span></span></p>
                                            <p>Region: xxxxxx</p>
                                            <p>Country: xxxxxxx</p>
                                            <p>Longitude : xxxxxx</p>
                                            <p> Latitude: xxxxxxx></p>
                                            <p>Time Zone: xxxxxx</p>
                                            <p>Country Code: xxxxxx</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab"
                                tabindex="0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium magni,
                                quasi architecto similique ducimus incidunt non autem tempora culpa ratione iste qui
                                neque porro eos corrupti! Quia impedit exercitationem asperiores eveniet quibusdam
                                assumenda optio. Accusantium tempora, rem quasi placeat temporibus ea voluptas alias
                                odit hic ducimus natus, dolore nemo corporis?</div>
                            <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab"
                                tabindex="0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut dolorem ex
                                explicabo neque provident ipsum corrupti est quis tempore exercitationem harum magni
                                aspernatur accusamus cupiditate odio repellat minus modi, ducimus ipsa iste ad quaerat
                                voluptates esse. Maiores consequuntur animi suscipit impedit eveniet, architecto earum
                                est tenetur. Dignissimos molestiae quis impedit!</div>
                            <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-5-tab"
                                tabindex="0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti animi
                                tempore iure repellendus perferendis non reiciendis rem porro, voluptatibus architecto
                                aspernatur rerum excepturi perspiciatis, aliquam sapiente sunt eos assumenda eius
                                laboriosam vitae eaque molestiae? Laboriosam beatae accusamus nostrum ipsa error tenetur
                                alias ut, cum consequuntur, soluta autem! Dolor, exercitationem est.</div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function getIp(events) {
                    events.preventDefault();
                    var ip = document.querySelector('input[name="ip"]');
                    axios.get(`/myIpAddress`)
                        .then((response) => {                        
                            const myIpAddress = response.data.myIpAddress;
                            console.log(`${myIpAddress}`);
                            document.querySelector("span#ipAddress").innerHTML = `${response.data.myIpAddress}`;
                        })
                        .catch((error) => {
                            console.error(error);
                        });
                }

                function getLocation(events) {
                    events.preventDefault();
                    var ip = document.querySelector('input[name="userIp"]').value;
                    console.log(ip);
                    axios.get(`/myLocation?ip=${encodeURIComponent(ip)}`)
                        .then((response) => {
                            console.log(`${response.data}`);
                            console.log(response.data.myIpAddress);
                        })
                        .catch((error) => {
                            console.error(error);
                        });
                }
            </script>
            <%- include("partials/footer.ejs") %>