<%- include("partials/header.ejs") %>
    </head>

    <body>
        <%- include("partials/navbar.ejs") %>
            <div class="container">
                <div class="subcontainer">
                    <div class="d-flex align-items-start">
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <% for (let i=0; i < pills.length; i++) { %>
                                <button class="nav-link <% if (i== 0 ){ %>
                                 <%=" active"%>
                                    <% } %>"
                                        id="v-pills-<%= pills[i].id%>-tab" data-bs-toggle="pill"
                                            data-bs-target="#v-pills-<%= pills[i].id%>" type="button" role="tab"
                                                aria-controls="v-pills-<%= pills[i].id%>" aria-selected= <% if(i==0){ %>
                                                        <%= "true" %>
                                                            <% } else {%>
                                                                <%= "false" %>
                                                                    <% } %>
                                                                        >
                                                                        <%= pills[i].pill%>
                                </button>
                                <% } %>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
                                aria-labelledby="v-pills-1-tab" tabindex="0">
                                <h3 class="display-6 fw-bold">My Ip Address</h3>
                                <p class="lead">Your IP address is a unique identifier assigned to your device when you
                                    connect to
                                    the internet. It helps websites recognize your device and can provide details like
                                    your general location and ISP.</p>
                                <form onsubmit="getIp(event)">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">IP</span>
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingInputGroup1"
                                                placeholder="Ip Address" name="ip" readonly>
                                            <label for="floatingInputGroup1">Ip Address</label>
                                        </div>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <input type="submit" id="ipBtn" class="btn btn-primary btn-lg"
                                            value="Get My Ip">
                                    </div>

                                </form>
                            </div>
                            <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab"
                                tabindex="0">Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Similique laboriosam sint natus minima sequi aperiam autem
                                tempora itaque incidunt, asperiores, reprehenderit a rerum tempore modi iusto earum
                                necessitatibus voluptatem praesentium odit voluptate. Inventore sunt vel quos unde totam
                                atque libero reiciendis! Necessitatibus sit placeat reiciendis a? Perspiciatis, fuga
                                facere. Laudantium?</div>
                            <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab"
                                tabindex="0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium magni,
                                quasi architecto similique ducimus incidunt non autem tempora culpa ratione iste qui
                                neque porro eos corrupti! Quia impedit exercitationem asperiores eveniet quibusdam
                                assumenda optio. Accusantium tempora, rem quasi placeat temporibus ea voluptas alias
                                odit hic ducimus natus, dolore nemo corporis?</div>
                            <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab"
                                tabindex="0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut dolorem ex
                                explicabo neque provident ipsum corrupti est quis tempore exercitationem harum magni
                                aspernatur accusamus cupiditate odio repellat minus modi, ducimus ipsa iste ad quaerat
                                voluptates esse. Maiores consequuntur animi suscipit impedit eveniet, architecto earum
                                est tenetur. Dignissimos molestiae quis impedit!</div>
                            <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-5-tab"
                                tabindex="0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti animi
                                tempore iure repellendus perferendis non reiciendis rem porro, voluptatibus architecto
                                aspernatur rerum excepturi perspiciatis, aliquam sapiente sunt eos assumenda eius
                                laboriosam vitae eaque molestiae? Laboriosam beatae accusamus nostrum ipsa error tenetur
                                alias ut, cum consequuntur, soluta autem! Dolor, exercitationem est.</div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function getIp(events) {
                    events.preventDefault();
                    var ip = document.querySelector('input[name="ip"]');
                    axios.get(`/myIpAddress`)
                        .then((response) => {
                            console.log(`${response.data.myIpAddress}`);
                            ip.value = response.data.myIpAddress;
                        })
                        .catch((error) => {
                            console.error(error);
                        });
                }
            </script>
            <%- include("partials/footer.ejs") %>